<mat-card class="example-card">

    <mat-card-header>
        <mat-card-title>Карточка дома</mat-card-title>
        <mat-card-subtitle>Информация</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image src="https://static.dezeen.com/uploads/2020/02/house-in-the-landscape-niko-arcjitect-architecture-residential-russia-houses-khurtin_dezeen_2364_hero-852x479.jpg">

    <mat-card-content>
        <p>Краткое описание дома</p>
    </mat-card-content>

    <mat-card-actions>
        <button mat-button>Подробнее</button>
    </mat-card-actions>

</mat-card>